# 1. Ambienti Virtuali Python (Pesantissimi, non vanno mai su GitHub)
.venv/
venv/
env/
/Lib/
/Scripts/
/Include/
pyvenv.cfg
__pycache__/
*.pt

# 2. File "spazzatura" compilati da Python automaticamente
__pycache__/
*.pyc
*.pyo

# 3. File nascosti del Sistema Operativo (Windows/Mac)
.DS_Store
Thumbs.db

# 4. IL PIÙ IMPORTANTE: File delle variabili segrete (Password, JWT Secret)
.env
secret.txt
